<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
    <mongo:mongo-client id="mongoClient" connection-string="mongodb://youngbeen:sm1613362@chrome-screentime-shard-00-00.vmdiu.mongodb.net:27017,chrome-screentime-shard-00-01.vmdiu.mongodb.net:27017,chrome-screentime-shard-00-02.vmdiu.mongodb.net:27017/chrome_screentime?ssl=true&replicaSet=atlas-5p8e80-shard-0&authSource=admin&retryWrites=true&w=majority" />
    <mongo:db-factory id="mongoDbFactory" dbname="chrome_screentime" mongo-client-ref="mongoClient" />
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <mongo:repositories base-package="sm.chromeScreentime"/>
</beans>