.percentText {
  color: rgb(70, 70, 70);
  font-size: 35px;
  height: 100%;
  justify-content: center;
}
.fragmentText {
  color: rgb(70, 70, 70);
  font-size: 17px;
  height: 100%;
  justify-content: center;
}
foreignObject {
  justify-content: center;
  align-items: center;
}
