.option-container {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 190px;
}
.option-title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 18px;
}
.top3 {
  font-size: 30px;
  font-weight: 200;
  color: rgb(0, 0, 0);
}
.day-title-category {
  font-size: 25px;
  font-weight: 200;
  color: rgb(70, 70, 70);
}
.option-name {
  text-align: left;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.option-time {
  text-align: left;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.option-item {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.option-items {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.option-total {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.option-domains {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
