.setting {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  height: 550px;
  max-height: 600px;
  align-items: center;
}

.setting-header {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
}

.back-button {
  text-decoration: none;
  font-size: 30px;
  margin-right: 10px;
  color: black;
}

.back-button:visited {
  color: black;
}

.title {
  font-size: 27px;
  font-weight: bold;
  flex: 1;
  color: #444444;
}

.add-button {
  text-decoration: none;
  color: black;
  font-size: 27px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}
