.setting {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  height: 550px;
  max-height: 600px;
  align-items: center;
}

.setting-header {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  height: 10%;
}

.back-button {
  text-decoration: none;
  font-size: 30px;
  margin-right: 10px;
  color: black;
}

.back-button:visited {
  color: black;
}

.title {
  font-size: 27px;
  font-weight: bold;
}

.add {
  font-size: 20px;
}
.button {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}
.add-new-site {
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  width: 100%;
  height: 100%;
  flex: 1;
}
.buttons {
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

label {
  display: block;
}

input .input-name {
  border-width: 0px;
  border-bottom: 1.5px;
  font-size: 25px;
}

.site-list {
  flex: 1;
  flex-direction: column;
}

.site-item {
  flex-direction: row;
  justify-content: space-between;
  background-color: cornflowerblue;
  display: flex;
}
