.Week {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 300px;
  height: 550px;
  max-height: 600px;
}

.Week-header {
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
  color: rgb(139, 139, 139);
}

.setting-button {
  text-decoration: none;
  color: rgb(139, 139, 139);
}

.setting-button:visited {
  color: rgb(139, 139, 139);
}

.Main {
  width: 100%;
  height: 50%;
}

.main-header {
  background-color: white;
  flex-direction: row;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.day-week-button {
  background-color: white;
  font-size: 35px;
  font-weight: 600;
  color: rgb(92, 92, 92);
  text-decoration: none;
}

.day-week-button:visited {
  color: black;
}

.day-week-button:hover {
  color: black;
}

.accumulate-time {
  font-size: 25px;
  font-weight: bold;
  color: rgb(92, 92, 92);
  background-color: white;
}

.bar-wrapper {
  background-color: white;
  height: 260px;
  justify-content: center;
  align-items: center;
}
.option-wrapper {
  position: fixed;
  top: 360px;
  width: inherit;
  background-color: white;
  align-items: flex-start;
}
